@import "../common_assets/index.css";

@font-face {
  font-family: Stapel;
  src: url("./assets/stapel_bold.ttf");
}

.guides-content {
  width: 1200px;
  height: 600px;
  padding: 0 80px;
  color: #fff;
  position: relative;
  box-sizing: border-box;

  background: url("./assets/background.svg") no-repeat;
  background-color: var(--brand_primary_500);
}

.title {
  font-family: Stapel;
  font-size: 60px;
  line-height: 68px;
  font-weight: 700;
  hyphens: none;
  margin: 0;
  margin-bottom: 28px;
}

.title-name {
  white-space: nowrap;
}

.place-info {
  hyphens: none;
  width: 580px;

  position: absolute;
  bottom: 72px;
}

.image-wrap {
  box-sizing: border-box;
  width: 420px;
  height: 420px;
  border: 16px solid white;
  transform: rotate(-3deg);
  position: absolute;
  top: 89px;
  right: 90px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.list-item {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.list-icon {
  width: 48px;
  height: 48px;
}

.list-text {
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
}

.logo {
  position: absolute;
  top: 68px;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 420px;
  height: 420px;
  border: 16px solid white;
  background: white;
  justify-content: space-between;
  align-content: space-between;
  transform: rotate(-3deg);
  position: absolute;
  top: 89px;
  right: 90px;
}

.image-4 {
  width: 186px;
  height: 186px;
}
