@import "./main_colors.css";

@font-face {
  font-family: Inter;
  src: url("./Inter.ttf");
}

:root {
  font-family: Inter, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.content {
  width: 450px;
  height: 250px;
  background-color: var(--brand_primary_800);
  overflow: hidden;
  color: var(--text_primary);
}
